/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
p {
  color: white;
  font-style: italic;
  font-size: max(50%,2vh);
}
a {
  color: #e57bf3;
  text-decoration: none;
}
input {
  justify-self: start;
  height:22px;
  min-width: 600px;
  border-radius: 100px;

  background-color: #a78bfa;
  border:2px solid #e57bf3;
}
.container {
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}
.sidebar {
    display: grid;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 300px;
    grid-column: 1;
    grid-row: 1/span 2;
    place-items: start;
    grid-template-rows: auto;
    background-color:#9333ea;
}
.dashboard {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  place-content: center;
  place-items: center;
  font-size: 45px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 100px;
}
#dash-logo {
  max-height: 70px;
  max-width: 70px;
}
.side-text {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20px;
  gap: 10px;
  margin-bottom: 10px;
  justify-items: start;
  font-family:'Courier New', Courier, monospace ;
  color: white;
}
#house {
  max-height: 20px;
  max-width: 20px;

  min-height: 10px;
  min-width: 10px;
}
.break_line {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20px;
  gap: 10px;
  justify-items: start;
  margin-bottom: 50px;

  font-family:'Courier New', Courier, monospace ;
  color: white;
}
.header {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 120px;
  box-shadow: 10px 10px 10px #4c0519;
}
/*first row of the header */
.first-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0.3fr 9fr 0.3fr 0.7fr 0.5fr;
  grid-column: 1;
  grid-row: 1;
  place-items: center;
}
#search {
  min-height: 10px;
  min-width: 10px;
  justify-self: end;
}
#bell {
  max-height:20px ;
  max-width: 20px;

  min-height: 7px;
  min-width: 7px;
}
#cool-logo {
  justify-self: start;
  max-height:50px ;
  max-width: 50px;
  min-height: 15px;
  min-width: 15px;
}
.name {
  justify-self: start;
  font-size: max(20%,15px);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #7e22ce;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #7e22ce;
}
.name:hover {
  background-color: #7e22ce;
  transition: 1s;
}

/*second row of the header*/
.second-row {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  grid-column: 1;
  grid-row: 2;
  place-items: center;
}
.welcome-text {
  justify-self: start;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
}
#cool-logo2 {
  height: 60px;

  justify-self: end;
}
.text1 {
  grid-column: 1;
  grid-row: 1;
}
.text2 {
  grid-column: 1;
  grid-row: 2;
}
.button1 {
  justify-self: end;
}
.button3 {
  justify-self: start;
}
.buttons, .button1, .button3 {
  align-items: center;
  border:2px solid #86198f;
  background-color: #d8b4fe;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  color: #7e22ce;
}
button:hover {
  transition: 800ms;
  background-color: #7e22ce;
  color: #d8b4fe;
}

/*content*/
.content {
  background-color: #f1f5f9;
  overflow: auto;
  display: grid;
  grid-column: 2;
  grid-row: 2;
  padding-left: 10px;
  padding-bottom: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 7fr;

}
.project-announcements {
  display: flex;
  grid-column: 1/span 2;
  grid-row: 1;
  max-height: 40px;
  justify-content: space-between;
  padding: 5px;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 20px;
}
.content-section {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));

  height: auto;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.small-boxes {
  position: relative;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 8fr;

  max-height: 190px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 4px grey;
  border-left:7px solid #6b21a8;
}
.small-boxes:hover {
  background-color: #6b21a8;
  color: white;
  transition: 800ms;
}
.title
{
  margin-left: 10px;
  font-size: 90%;
  font-weight: 800;
}
.text {
  margin-left: 10px;
  font-size: 75%;
}
.logos {
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: flex;
  justify-content: end;
  gap: 5px;
  height: 20px;
  padding: 5px;
  border: 1px solid red;
}
#logo {
  height: 20px;
  width: 20px;
  cursor: pointer;
}